body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  max-width: 1400px;
  height: 70px;
  background-color: black;
  color: rgb(241, 239, 235);
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
}
.nav-links ul {
display: flex;
justify-content: space-evenly;
gap: 50px;
}
.nav-links ul li {
  list-style: none;
  font-size: 17px;
  font-weight: 2px;
}

